- checked = device_ids&.include?(device.id).presence || params.dig(:group, :device_ids)&.include?(device.id.to_s)
- if device.area.present?
  - text = "#{device.name} ##{device.position} <small class='text-warning'>#{device.area.name}</small>"
  - label_tag = "<label class='custom-control-label'><span class='text-capitalize'>#{device.name}</span> <small class='text-muted font-italic'>is position at <b>#{device.position}</b> belong to area <b>#{device.area.name}</b></small></label>".html_safe
  - disabled = false
- else
  - text = nil
  - label_tag = "<label class='custom-control-label'><span class='text-capitalize'>#{device.name}</span> <small class='text-muted font-italic'>not belong to any area</small></label>".html_safe
  - disabled = true

li.dropdown-item data-disabled="#{disabled}"
  .custom-control.custom-checkbox
    = check_box_tag 'group[device_ids][]', device.id, checked, { class: 'custom-control-input minhtang', id: device.id, disabled: disabled, data: { text: text } }
    = label_tag
