- checked = params.dig(:group, :device_ids)&.include?(item.id.to_s)
- if item.area.present?
  - text = "#{item.name} ##{item.position} <small class='text-warning'>#{item.area.name}</small>"
  - label_tag = "<label class='custom-control-label'><span class='text-capitalize'>#{item.name}</span> <small class='text-muted font-italic'>is position at <b>#{item.position}</b> belong to area <b>#{item.area.name}</b></small></label>".html_safe
  - disabled = false
- else
  - text = nil
  - label_tag = "<label class='custom-control-label'><span class='text-capitalize'>#{item.name}</span> <small class='text-muted font-italic'>not belong to any area</small></label>".html_safe
  - disabled = true

li.dropdown-item data-disabled="#{disabled}"
  .custom-control.custom-checkbox
    = check_box_tag 'group[device_ids][]', item.id, checked, { class: 'custom-control-input minhtang', id: item.id, disabled: disabled, data: { text: text } }
    = label_tag
