@import "~bootstrap/scss/bootstrap";
@import "./variable";
@import "./session";
@import "./dashboard";
@import "./dropdown";

.error-invalid {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: $red;
}

.form-required {
  &::after {
    content: '*';
    display: inline-block;
    color: $red;
    padding-left: 5px;
  }
}

.col-form-label {
  color: $text-gray
}
